{% extends 'base.html.twig' %}

{% block body %}
  <h1>Locations</h1>

  <ul>
    {% for location in locations %}
      <li><a href="{{ path('location_results', {'location_id': location.id}) }}">{{ location.path }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
