@mixin clearfix {
  &:after {
    content: ".";
    clear: both;
    visibility: hidden;
    display: block;
    height: 0;
  }
}

html {

}

body {

}

hr {
  margin: 0 !important;
  padding: 0 !important;
}

nav {
  @include clearfix;
  background-color: #eee;
  border-bottom: 1px solid #ddd;

  h1 {
    float: left;
    margin: 6px;
    padding: 0;
  }

  ul {
    float: right;
    margin-top: 16px;
    li {
      float: left;
      list-style: none;
      padding-right: 12px;
    }
  }
}

#page {
  margin: 24px 64px;
}